NODE_ENV=development

# Server
PORT=8082

# CORS (comma-separated list)
CORS_ORIGINS=http://localhost:5173
CORS_CREDENTIALS=false

# Database
# IMPORTANT: Use only one of the following. Do NOT add quotes and avoid spaces around '='.
# Cloud (MongoDB Atlas) example:
MONGO_URI=mongodb+srv://<USERNAME>:<PASSWORD>@<CLUSTER>/<DBNAME>?retryWrites=true&w=majority
# Self-hosted example (comment out if not used):
# MONGODB_URI=mongodb://<USERNAME>:<PASSWORD>@<HOST>:27017/<DBNAME>?authSource=admin

# Auth
JWT_SECRET=change_this_in_production
JWT_EXPIRES_IN=2d
BCRYPT_SALT_ROUNDS=10

# Optional logging
LOG_LEVEL=info

# WhatsApp Business Cloud API (to send from a fixed business number)
# Get these from Meta for Developers after setting up WhatsApp Business Platform
# https://developers.facebook.com/docs/whatsapp/cloud-api
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_DEFAULT_CC=91


EAAYvk00REAkBPlLiCZAyWnJyJZCY2ZAwf1pp2JP4jKIEP3LFa5KTahC04zHzJNzPJf9UjqZCd1LZCUv3ZAqXCM0andMkAqjGWSRhZC6IEU3Fo7FlB2WcayGATRye2eaXiM61ZCTKexOzzpDXO2JegmwkCDirnr0AANZBt7fSdACslro0zlan0ItMoQLnvRDD8QyOyjWc2AmMT55hTeTxqEk07G4iJ5ZCxMfQDIYsTtgJwwyTSEmgZDZD